/* NAV FONT */
@import url(//db.onlinewebfonts.com/c/226f58ab113a6d821def90a7d6dc2427?family=GT+Pressura+Mono+Regular);

/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {
  font-family: "GT Pressura Mono Regular";
  src: url("http://db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.svg#GT Pressura Mono Regular")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Agrandir-Regular";
  src: url(/fonts/Agrandir-Regular.otf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.ct-fluid {
  padding-left: 6rem;
  padding-right: 6rem;
}
.hero {
  position: relative;
  background-image: url("/img/hero.png");
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 20%;
}
.nav {
  font-family: "GT Pressura Mono Regular", "Roboto Mono", "Helvetica Neue",
    Helvetica, Arial, sans-serif, sans-serif !important;
}
.navbar-nav {
  text-transform: uppercase;
  font-family: "GT Pressura Mono Regular", "Roboto Mono", "Helvetica Neue",
    Helvetica, Arial, sans-serif, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Agrandir-Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
  font-weight: 500;
}

/* UTILS */
.f1 {
  font-family: "GT Pressura Mono Regular", "Roboto Mono", "Helvetica Neue",
    Helvetica, Arial, sans-serif, sans-serif !important;
  font-size: 18px;
}

.f2 {
  font-size: 2rem;
}

.f3 {
  font-size: 3rem;
}
.aOrange {
  color: #ee490d;
}

.aside-p {
  font-size: 15px;
}
/* -------------- */

input[type="text"],
input[type="radio"] {
  background-color: transparent !important;
  outline: none !important;
}
label {
  font-family: "GT Pressura Mono Regular", "Roboto Mono", "Helvetica Neue",
    Helvetica, Arial, sans-serif, sans-serif !important;
  font-weight: 500;
  font-size: 15px;
  opacity: 0.9;
}

/* NAVIGATION */
.nav {
  background-color: rgba(38, 47, 54, 0.5);
  /* position: absolute; */
  /* bottom: 0; */
}

.nav .nav-item {
  padding: 0.7rem;
  background-color: transparent;
}

.nav .nav-item .nav-link {
  transition: 0.4s all;
  background-color: transparent;
}

.nav .nav-item:hover {
  opacity: 0.9;
  background-color: whitesmoke;
  color: #4f17a7 !important;
}

.nav .nav-item .nav-link:hover {
  color: #4f17a7 !important;
}

.icon {
  height: 1rem;
}

.icon2 {
  height: 3rem;
}

.image-icon {
  height: 4rem;
}
